<p-table
    #dt
    [value]="users"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="['document', 'email', 'idRole', 'status', 'name', 'surName']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} usuarios"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10, 20]"
>
    <ng-template pTemplate="caption">
        <h3 class="p-0 m-0 text-center">Usuarios</h3>
        <div class="flex justify-content-between align-items-center">
            <p-button class="flex-1" label="Crear" icon="pi pi-plus" (onClick)="showPopup()" />
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..." />
            </p-iconfield>
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="document">
                Documento
                <p-sortIcon field="document" />
            </th>
            <th pSortableColumn="name">
                Nombre Completo
                <p-sortIcon field="name" />
            </th>
            <th pSortableColumn="email">
                Email
                <p-sortIcon field="email" />
            </th>
            <th pSortableColumn="idRole">
                Rol
                <p-sortIcon field="idRole" />
            </th>
            <th pSortableColumn="status">
                Estado
                <p-sortIcon field="status" />
            </th>
            <th pSortableColumn="actions">
                Acciones
                <p-sortIcon field="actions" />
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-user>
        <tr>
            <td>{{ user.document }}</td>
            <td>{{ user.name }} {{ user.surName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ getRoleName(user.idRole) }}</td>
            <td>
                <p-tag [value]="user.status ? 'Activo' : 'Inactivo'" [severity]="getSeverity(user.status)" />
            </td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-2" severity="info" rounded outlined (click)="editUser(user)" />
                <p-button [icon]="user.status ? 'pi pi-ban' : 'pi pi-check'" [severity]="user.status ? 'danger' : 'success'" rounded outlined (click)="changeStatusUser(user)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="userDialog" [modal]="true"  class="min-h-fit min-w-fit" [style]="{ width: '80vw', maxWidth: '800px' }" (onHide)="closePopup()">
    <app-form-users [user]="user" [isFormDisabled]="isFormDisabled" (closePopup)="closePopup()" (createUser)="createUser($event)" />
</p-dialog>

<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
