<p-table
  #dt
  [value]="users"
  [rows]="10"
  [paginator]="true"
  [globalFilterFields]="[
    'name',
    'surName',
    'email',
    'document',
    'phone',
    'address',
    'dateBirth'
  ]"
  [tableStyle]="{ 'min-width': '75rem' }"
  [rowHover]="true"
  dataKey="id"
  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} servicios"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 20, 30]"
>
  <ng-template pTemplate="caption">
    <h3 class="m-0 p-0 text-center">Usuarios</h3>
    <div class="flex justify-content-between align-items-center">
      <p-button
        label="Crear"
        icon="pi pi-plus"
        severity="secondary"
        (onClick)="showPopup()"
      />
      <p-iconfield>
        <p-inputicon styleClass="pi pi-search" />
        <input
          pInputText
          type="text"
          (input)="onGlobalFilter(dt, $event)"
          placeholder="Search..."
        />
      </p-iconfield>
    </div>
  </ng-template>

  <ng-template #header>
    <tr>
      <th pSortableColumn="id" style="min-width: 12rem">
        ID
        <p-sortIcon field="id" />
      </th>
      <th pSortableColumn="document" style="min-width: 12rem">
        Documento
        <p-sortIcon field="document" />
      </th>
      <th pSortableColumn="name" style="min-width: 16rem">
        Nombre
        <p-sortIcon field="name" />
      </th>
      <th pSortableColumn="surName" style="min-width: 16rem">
        Apellido
        <p-sortIcon field="surName" />
      </th>
      <th pSortableColumn="email" style="min-width: 16rem">
        Email
        <p-sortIcon field="email" />
      </th>
      <th pSortableColumn="phone" style="min-width: 16rem">
        Teléfono
        <p-sortIcon field="phone" />
      </th>
      <th pSortableColumn="address" style="min-width: 20rem">
        Dirección
        <p-sortIcon field="address" />
      </th>
      <th pSortableColumn="dateBirth" style="min-width: 16rem">
        Fecha Nac.
        <p-sortIcon field="dateBirth" />
      </th>
      <th style="min-width: 12rem"></th>
    </tr>
  </ng-template>

  <ng-template #body let-user>
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.document }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.surName }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.phone }}</td>
      <td>{{ user.address }}</td>
      <td>{{ user.dateBirth | date : "dd/MM/yyyy" }}</td>
      <td>
        <p-button
          icon="pi pi-pencil"
          [rounded]="true"
          [outlined]="true"
          (click)="editUser(user)"
        />
        <p-button
          icon="pi pi-sync"
          severity="info"
          [rounded]="true"
          [outlined]="true"
          (click)="changeStatusUser(user)"
        />
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  [(visible)]="userDialog"
  [style]="{ width: '450px' }"
  header="Usuario"
  [modal]="true"
  class="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="field">
      <label for="typeDocument">Tipo de Documento *</label>
      <input
        type="text"
        pInputText
        id="typeDocument"
        [(ngModel)]="user.typeDocument"
        required
      />
      <small class="p-error" *ngIf="submitted && !user.typeDocument"
        >El tipo de documento es obligatorio.</small
      >
    </div>

    <div class="field">
      <label for="document">Documento *</label>
      <input
        type="text"
        pInputText
        id="document"
        [(ngModel)]="user.document"
        required
      />
      <small class="p-error" *ngIf="submitted && !user.document"
        >El documento es obligatorio.</small
      >
    </div>

    <div class="field">
      <label for="name">Nombre *</label>
      <input
        type="text"
        pInputText
        id="name"
        [(ngModel)]="user.name"
        required
      />
      <small class="p-error" *ngIf="submitted && !user.name"
        >El nombre es obligatorio.</small
      >
    </div>

    <div class="field">
      <label for="surName">Apellido *</label>
      <input
        type="text"
        pInputText
        id="surName"
        [(ngModel)]="user.surName"
        required
      />
      <small class="p-error" *ngIf="submitted && !user.surName"
        >El apellido es obligatorio.</small
      >
    </div>

    <div class="field">
      <label for="email">Email *</label>
      <input
        type="email"
        pInputText
        id="email"
        [(ngModel)]="user.email"
        required
      />
      <small class="p-error" *ngIf="submitted && !user.email"
        >El email es obligatorio.</small
      >
    </div>

    <div class="field">
      <label for="password">Contraseña *</label>
      <input
        type="password"
        pInputText
        id="password"
        [(ngModel)]="user.password"
        [required]="!user.id"
      />
      <small class="p-error" *ngIf="submitted && !user.password && !user.id"
        >La contraseña es obligatoria para nuevos usuarios.</small
      >
    </div>

    <div class="field">
      <label for="dateBirth">Fecha de Nacimiento *</label>
      <p-calendar
        id="dateBirth"
        [(ngModel)]="user.dateBirth"
        [showIcon]="true"
        dateFormat="dd/mm/yy"
        required
      ></p-calendar>
      <small class="p-error" *ngIf="submitted && !user.dateBirth"
        >La fecha de nacimiento es obligatoria.</small
      >
    </div>

    <div class="field">
      <label for="phone">Teléfono *</label>
      <input
        type="text"
        pInputText
        id="phone"
        [(ngModel)]="user.phone"
        required
      />
      <small class="p-error" *ngIf="submitted && !user.phone"
        >El teléfono es obligatorio.</small
      >
    </div>

    <div class="field">
      <label for="address">Dirección *</label>
      <input type="text" pInputText id="address" [(ngModel)]="user.address" />
    </div>

    <div class="field">
      <label for="emergency">Teléfono de Emergencia</label>
      <input
        type="text"
        pInputText
        id="emergency"
        [(ngModel)]="user.emergency"
      />
    </div>

    <div class="field">
      <label for="sex">Sexo</label>
      <input type="text" pInputText id="sex" [(ngModel)]="user.sex" />
    </div>

    <div class="field">
      <label for="bloodType">Tipo de Sangre</label>
      <input
        type="text"
        pInputText
        id="bloodType"
        [(ngModel)]="user.bloodType"
      />
    </div>

    <div class="field">
      <label for="eps">EPS</label>
      <input type="text" pInputText id="eps" [(ngModel)]="user.eps" />
    </div>

    <div class="field">
      <label for="status">Estado</label>
      <p-inputSwitch id="status" [(ngModel)]="user.status" />
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <p-button
      label="Cancelar"
      icon="pi pi-times"
      (click)="closePopup()"
      [text]="true"
    ></p-button>
    <p-button
      label="Guardar"
      icon="pi pi-check"
      (click)="saveUser()"
    ></p-button>
  </ng-template>
</p-dialog>

<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
