<p-table
    #dt
    [value]="users"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="['document', 'email', 'idRole', 'status', 'name', 'surName']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} usuarios"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10, 20]"
>
    <ng-template pTemplate="caption">
        <h3 class="p-0 m-0 text-center">Usuarios</h3>
        <div class="flex justify-content-between align-items-center">
            <p-button class="flex-1" label="Crear" icon="pi pi-plus" severity="secondary" (onClick)="showPopup()" />
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..." />
            </p-iconfield>
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="document" style="min-width: 14rem">
                Documento
                <p-sortIcon field="document" />
            </th>
            <th pSortableColumn="name" style="min-width: 16rem">
                Nombre Completo
                <p-sortIcon field="name" />
            </th>
            <th pSortableColumn="email" style="min-width: 18rem">
                Email
                <p-sortIcon field="email" />
            </th>
            <th pSortableColumn="idRole" style="min-width: 14rem">
                Rol
                <p-sortIcon field="idRole" />
            </th>
            <th pSortableColumn="status" style="min-width: 12rem">
                Estado
                <p-sortIcon field="status" />
            </th>
            <th style="min-width: 12rem"></th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-user>
        <tr>
            <td>{{ user.document }}</td>
            <td>{{ user.name }} {{ user.surName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ getRoleName(user.idRole) }}</td>
            <td>
                <p-tag [value]="user.status ? 'Activo' : 'Inactivo'" [severity]="getSeverity(user.status)" />
            </td>
            <td>
                <p-button icon="pi pi-pencil" [rounded]="true" [outlined]="true" (click)="editUser(user)" />
                <p-button icon="pi pi-sync" severity="info" [rounded]="true" [outlined]="true" (click)="changeStatusUser(user)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="userDialog" [style]="{ width: '450px' }" header="Usuario" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <div class="container flex flex-col gap-4">
            <div class="flex flex-col">
                <label for="role" class="required">Rol</label>
                <p-dropdown id="role" [options]="roles" [(ngModel)]="user.idRole" optionLabel="name" optionValue="id" placeholder="Seleccione un rol" [required]="true"></p-dropdown>
                <small class="text-red-500" *ngIf="submitted && !user.idRole">El rol es obligatorio.</small>
            </div>

            <div class="flex flex-col">
                <label for="typeDocument" class="required">Tipo de Documento</label>
                <p-dropdown id="typeDocument" [options]="documentTypes" [(ngModel)]="user.typeDocument" [pattern]="patterns.DOCUMENT_TYPE" optionLabel="name" placeholder="Seleccione un tipo" required></p-dropdown>
                <small class="text-red-500" *ngIf="submitted && !user.typeDocument.match(patterns.DOCUMENT_TYPE)"> El tipo de documento es obligatorio</small>
            </div>

            <div class="flex flex-col">
                <label for="document" class="required">Documento</label>
                <input type="text" id="document" pInputText [(ngModel)]="user.document" required />
                <small class="text-red-500" *ngIf="submitted && !user.document"> El documento es obligatorio</small>
            </div>

            <div class="flex flex-col">
                <label for="name" class="required">Nombre</label>
                <input type="text" pInputText id="name" [(ngModel)]="user.name" [pattern]="patterns.NAME" required />
                <small class="text-red-500" *ngIf="submitted && !user.name.match(patterns.NAME)"> El nombre es obligatorio.</small>
            </div>

            <div class="flex flex-col">
                <label for="surName" class="required">Apellido</label>
                <input type="text" pInputText id="surName" [(ngModel)]="user.surName" [pattern]="patterns.NAME" required />
                <small class="text-red-500" *ngIf="submitted && !user.surName.match(patterns.NAME)"> El apellido es obligatorio.</small>
            </div>

            <div class="flex flex-col">
                <label for="email" class="required">Email</label>
                <input type="email" pInputText id="email" [(ngModel)]="user.email" [pattern]="patterns.EMAIL" required />
                <small class="text-red-500" *ngIf="submitted && !user.email.match(patterns.EMAIL)"> El email es obligatorio.</small>
            </div>

            <div class="flex flex-col">
                <label for="password" class="required">Contraseña</label>
                <input type="password" pInputText id="password" [(ngModel)]="user.password" [required]="!user.id" required />
                <small class="text-red-500" *ngIf="submitted && !user.password && !user.id"> La contraseña es obligatoria para crear nuevos usuarios</small>
            </div>

            <div class="flex flex-col">
                <label for="dateBirth" class="required">Fecha de Nacimiento</label>
                <p-calendar id="dateBirth" [(ngModel)]="user.dateBirth" [showIcon]="true" patterns dateFormat="dd/mm/yy" required> </p-calendar>
                <small class="text-red-500" *ngIf="submitted && !user.dateBirth"> La fecha de nacimiento es obligatoria.</small>
            </div>

            <div class="flex flex-col">
                <label for="phone" class="required">Teléfono</label>
                <input type="text" pInputText id="phone" [(ngModel)]="user.phone" [pattern]="patterns.PHONE" required />
                <small class="text-red-500" *ngIf="submitted && !user.phone.match(patterns.PHONE)"> El teléfono es obligatorio.</small>
            </div>

            <div class="flex flex-col">
                <label for="municipality" class="required">Municipio</label>
                <p-dropdown id="municipality" [options]="municipalities" [(ngModel)]="user.idMunicipality" optionLabel="name" optionValue="id" placeholder="Seleccione un municipio" [required]="true"></p-dropdown>

                <small class="text-red-500" *ngIf="submitted && !user.idMunicipality"> El municipio es obligatorio.</small>
            </div>

            <div class="flex flex-col">
                <label for="address" class="required">Dirección</label>
                <input type="text" pInputText id="address" [(ngModel)]="user.address" required />
                <small class="text-red-500" *ngIf="submitted && !user.address"> La dirección es obligatoria.</small>
            </div>

            <div class="flex flex-col">
                <label for="emergency" class="required">Teléfono de Emergencia</label>
                <input type="text" pInputText id="emergency" [(ngModel)]="user.emergency" required />
                <small class="text-red-500" *ngIf="submitted && !user.emergency"> El teléfono de emergencia es obligatorio.</small>
            </div>

            <!-- Posible solucion al problema del match -->
            <div class="flex flex-col">
                <label for="sex" class="required">Sexo</label>
                <p-dropdown id="sex" [options]="sexOptions" [(ngModel)]="user.sex" optionLabel="name" optionValue="value" placeholder="Seleccione un sexo" [pattern]="patterns.SEX" required></p-dropdown>
                <small class="text-red-500" *ngIf="submitted && !user.sex?.match(patterns.SEX)"> El sexo es obligatorio.</small>
            </div>

            <div class="flex flex-col">
                <label for="bloodType" class="required">Tipo de Sangre</label>
                <p-dropdown id="bloodType" [options]="bloodTypes" [(ngModel)]="user.bloodType" optionLabel="name" optionValue="value" placeholder="Seleccione un tipo de sangre" [pattern]="patterns.BLOOD" required></p-dropdown>
                <small class="text-red-500" *ngIf="submitted && !user.bloodType?.match(patterns.BLOOD)"> El tipo de sangre es obligatorio.</small>
            </div>

            <div class="flex flex-col">
                <label for="eps" class="required">EPS</label>
                <p-dropdown id="eps" [options]="epsList" [(ngModel)]="user.eps" optionLabel="name" optionValue="value" placeholder="Seleccione una EPS" required></p-dropdown>
                <small class="text-red-500" *ngIf="submitted && !user.eps"> La EPS es obligatoria.</small>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <div class="flex gap-2 my-2 justify-content-end">
            <p-button label="Cancelar" icon="pi pi-times" severity="danger" (click)="closePopup()" [text]="true"></p-button>
            <p-button label="Guardar" icon="pi pi-check" (click)="saveUser()"></p-button>
        </div>
    </ng-template>
</p-dialog>

<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
