<p-table
  #dt
  [value]="reservations"
  [rows]="10"
  [paginator]="true"
  [globalFilterFields]="['id', 'date', 'price', 'status']"
  [tableStyle]="{ 'min-width': '75rem' }"
  [rowHover]="true"
  dataKey="id"
  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} reservaciones"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 20, 30]"
  [expandedRowKeys]="expandedRows"
  (onRowExpand)="onRowExpand($event)"
  (onRowCollapse)="onRowCollapse($event)"
>
  <ng-template #caption>
    <h3 class="m-0 p-0 text-center">Reservaciones</h3>
    <div class="flex justify-content-between align-items-center">
      <p-button
        label="Crear"
        icon="pi pi-plus"
        severity="secondary"
        (onClick)="showPopup()"
      />
      <p-iconfield>
        <p-inputicon styleClass="pi pi-search" />
        <input
          pInputText
          type="text"
          (input)="onGlobalFilter(dt, $event)"
          placeholder="Buscar..."
        />
      </p-iconfield>
    </div>
  </ng-template>
  <ng-template #header>
    <tr>
      <th style="width: 5rem"></th>
      <th pSortableColumn="id">ID <p-sortIcon field="id" /></th>
      <th pSortableColumn="date">Fecha <p-sortIcon field="date" /></th>
      <th pSortableColumn="price">Precio <p-sortIcon field="price" /></th>
      <th pSortableColumn="status">Estado <p-sortIcon field="status" /></th>
    </tr>
  </ng-template>
  <ng-template #body let-reservation let-expanded="expanded">
    <tr>
      <td>
        <p-button
          type="button"
          pRipple
          [pRowToggler]="reservation"
          [text]="true"
          [rounded]="true"
          [plain]="true"
          [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
        />
      </td>
      <td>{{ reservation.id }}</td>
      <td>{{ reservation.date | date : "short" }}</td>
      <td>{{ reservation.price | currency : "USD" }}</td>
      <td>
        <p-tag
          [value]="reservation.status ? 'Activo' : 'Inactivo'"
          [severity]="getSeverity(reservation.status)"
        />
      </td>
    </tr>
  </ng-template>
  <ng-template #expandedrow let-reservation>
    <tr>
      <td colspan="5">
        <div class="p-4">
          <h5>Detalles de la reservación {{ reservation.id }}</h5>
          <p>Usuario: {{ reservation.idUser }}</p>
          <p>Fecha: {{ reservation.date | date : "fullDate" }}</p>
          <p>Precio: {{ reservation.price | currency : "USD" }}</p>
          <p>Estado: {{ reservation.status ? "Activo" : "Inactivo" }}</p>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  [(visible)]="reservationDialog"
  [style]="{ width: '700px' }"
  header="Crear Reservación"
  [modal]="true"
  class="p-fluid"
>
  <ng-template pTemplate="content">
    <p-stepper [value]="activeStepIndex">
      <p-step-list>
        <p-step [value]="0" label="Crear Cliente"></p-step>
        <p-step [value]="1" label="Agregar Viajeros"></p-step>
        <p-step [value]="2" label="Confirmar Reserva"></p-step>
      </p-step-list>

      <!-- Contenido del Step 1 -->
      <div *ngIf="activeStepIndex === 0" class="step-content">
        <!-- Aquí irá el contenido del primer paso -->
        <ng-container>
          <app-form-clients
            [reservation]="reservation"
            [travel]="travel"
            [travelers]="travelers"
            [clients]="clients"
            [client]="client"
            [submitted]="submitted"
            (searchClient)="searchClient($event)"
            (createClient)="createClient($event)"
          />
        </ng-container>
      </div>

      <!-- Contenido del Step 2 -->
      <div *ngIf="activeStepIndex === 1" class="step-content">
        <!-- Aquí irá el contenido del segundo paso -->
        <ng-container>
          <app-form-travelers
            [reservation]="reservation"
            [travel]="travel"
            [travelers]="travelers"
            [clients]="clients"
            [traveler]="traveler"
            [submitted]="submitted"
            (searchClient)="searchClient($event)"
            (createClient)="createClient($event)"
            (addTraveler)="addTraveler()"
          />
        </ng-container>
      </div>

      <!-- Contenido del Step 3 -->
      <div *ngIf="activeStepIndex === 2" class="step-content">
        <!-- Aquí irá el contenido del tercer paso -->
        <ng-container>
          <app-form-payments [payment]="payment" [submitted]="submitted" />
        </ng-container>
      </div>
    </p-stepper>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="flex justify-content-between">
      <p-button
        label="Anterior"
        icon="pi pi-arrow-left"
        (onClick)="previousStep()"
        [disabled]="activeStepIndex === 0"
      ></p-button>
      <p-button
        *ngIf="activeStepIndex !== 2"
        label="Siguiente"
        icon="pi pi-arrow-right"
        (onClick)="nextStep()"
        [disabled]="!isStepValid(activeStepIndex)"
      ></p-button>
      <p-button
        *ngIf="activeStepIndex === 2"
        label="Guardar"
        icon="pi pi-check"
        (onClick)="saveReservation()"
        [disabled]="!isStepValid(activeStepIndex)"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>
