<div class="flex flex-column">
  <label for="name">Gmail</label>
  <input type="email" pInputText id="name" [(ngModel)]="user.email" required />
  <small class="p-error" *ngIf="submitted && !user.email">
    El nombre es obligatorio.
  </small>
</div>
<div class="flex flex-column">
  <label for="name">Password</label>
  <input
    type="password"
    pInputText
    id="name"
    [(ngModel)]="user.password"
    required
  />
  <small class="p-error" *ngIf="submitted && !user.password">
    El nombre es obligatorio.
  </small>
</div>

<div class="flex align-items-center justify-content-end gap-2">
  <p-button
    label="Ingresar"
    icon="pi pi-user"
    severity="primary"
    (click)="onSubmit()"
  ></p-button>

  <p-button
    label="Restablecer contraseña"
    severity="secondary"
    (click)="openResetPasswordPopup()"
  ></p-button>
</div>

<p-toast />

<p-dialog
  [(visible)]="resetPasswordDialog"
  [style]="{ width: '450px' }"
  [modal]="true"
  [closable]="true"
  [dismissableMask]="true"
>
    <app-reset-password
      [resetPasswordDialog]="resetPasswordDialog"
      [submitted]="submitted"
      [user]="user"
    ></app-reset-password>
</p-dialog>