<section class="flex flex-col items-center justify-center w-[300px]">
    <h2 class="text-2xl font-bold text-gray-800">Iniciar sesión</h2>
    <img src="/hermes.png" width="120" alt="Hermes" class="mb-4" />

    <div class="flex flex-col w-full gap-4">
        <div class="flex flex-col gap-2">
            <label for="email" class="required">Correo</label>
            <input 
            pInputText 
            id="email" 
            type="email" 
            [(ngModel)]="user.email" 
            placeholder="Correo electrónico"
            [pattern]="patterns.EMAIL"
            required />
            <small 
            class="text-red-500" 
            *ngIf="submitted && !user.email.match(patterns.EMAIL)">El correo electrónico es obligatorio</small>
        </div>

        <div class="flex flex-col gap-2">
            <label for="password" class="required">Contraseña</label>
            <input 
            pInputText 
            type="password" 
            id="password" 
            [(ngModel)]="user.password"
            [pattern]="patterns.PASSWORD"
            placeholder="Contraseña" 
            required />
            <small 
            class="text-red-500" 
            *ngIf="submitted && !user.password.match(patterns.PASSWORD)">La contraseña es obligatoria</small>
        </div>
    </div>

    <div class="flex flex-col items-center justify-center w-full gap-4 my-5">
        <p-button label="Ingresar" icon="pi pi-user" severity="primary" (click)="onSubmit()" />
        <p-button label="Restablecer contraseña" severity="secondary" class="p-button-text" (click)="onOpenPopup()" />
    </div>
</section>

<p-toast></p-toast>
