<!-- login.component.html -->
<div class="flex flex-column align-items-center justify-content-center min-h-screen">
  <!-- Logo -->
  <img src="/hermes.png" width="120" alt="Hermes" class="" />

  <!-- Título y subtítulo -->
  <h1 class="welcome-title">Vienvenido</h1>
  <p class="sign-in-text">Ingresa los dtos para continuar</p>

  <!-- Formulario -->
  <div class="form-container">
    <div class="p-field mb-3">
      <label for="email">Email</label>
      <input
        type="email"
        pInputText
        id="email"
        [(ngModel)]="user.email"
        placeholder="Email address"
        required
        class="w-full"
      />
      <small class="p-error" *ngIf="submitted && !user.email">
        Email is required.
      </small>
    </div>

    <div class="p-field mb-3">
      <label for="password">Password</label>
      <p-password
        id="password"
        [(ngModel)]="user.password"
        [toggleMask]="true"
        placeholder="Password"
        [feedback]="false"
        [style]="{ width: '100%' }"
        required
      ></p-password>
      <small class="p-error" *ngIf="submitted && !user.password">
        Password is required.
      </small>
    </div>
    <div class="flex flex-column align-items-center ">
      <p-button
      label="Ingresar"
      icon="pi pi-user"
      severity="primary"
      (click)="onSubmit()"
      ></p-button>
      <p-button
      href="#"
      class="forgot-link"
      (click)="openResetPasswordPopup()"
      >Resbalecer contraseña</p-button
    >
    </div>
  </div>
</div>

<p-toast></p-toast>

<p-dialog
  [(visible)]="resetPasswordDialog"
  [modal]="true"
  [closable]="true"
  [dismissableMask]="true"
  header="Recuperar cuenta"
>
  <app-reset-password
    [resetPasswordDialog]="resetPasswordDialog"
    [submitted]="submitted"
    [user]="user"
  ></app-reset-password>
</p-dialog>
