<p-table
  #dt
  [value]="activities"
  [rows]="10"
  [paginator]="true"
  [globalFilterFields]="['name', 'status']"
  [tableStyle]="{ 'min-width': '75rem' }"
  [rowHover]="true"
  dataKey="id"
  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} actividades"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 20, 30]"
>
  <ng-template #caption>
    <div class="flex">
      <h3 class="m-0 p-0">Actividades</h3>
      <p-iconfield class="m-0">
        <p-inputicon styleClass="pi pi-search" />
        <input
          pInputText
          type="text"
          (input)="onGlobalFilter(dt, $event)"
          placeholder="Search..."
        />
      </p-iconfield>
      <p-button
        label="Crear"
        icon="pi pi-plus"
        severity="secondary"
        (onClick)="showPopup()"
      />
    </div>
  </ng-template>
  <ng-template #header>
    <tr>
      <th pSortableColumn="id" style="min-width: 12rem">
        Identificación
        <p-sortIcon field="id" />
      </th>
      <th pSortableColumn="name" style="min-width: 16rem">
        Nombre
        <p-sortIcon field="name" />
      </th>
      <th pSortableColumn="status" style="min-width: 12rem">
        Estado
        <p-sortIcon field="status" />
      </th>
      <th style="min-width: 12rem"></th>
    </tr>
  </ng-template>
  <ng-template #body let-activity>
    <tr>
      <td>{{ activity.id }}</td>
      <td>{{ activity.name }}</td>
      <td>{{ activity.status ? "Activo" : "Inactivo" }}</td>
      <td>
        <p-button
          icon="pi pi-pencil"
          [rounded]="true"
          [outlined]="true"
          (click)="editActivity(activity)"
        />
        <p-button
          icon="pi pi-sync"
          severity="info"
          [rounded]="true"
          [outlined]="true"
          (click)="changeStatusActivity(activity)"
        />
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  [(visible)]="activityDialog"
  [style]="{ width: '450px' }"
  header="Activity Details"
  [modal]="true"
  class="p-fluid"
>
  <ng-template #content>
    <div class="field">
      <label for="name">Nombre</label>
      <input
        type="text"
        pInputText
        id="name"
        [(ngModel)]="activity.name"
        required
      />
      <small class="p-error" *ngIf="submitted && !activity.name"
        >El nombre es obligatorio.</small
      >
    </div>
  </ng-template>

  <ng-template #footer>
    <p-button
      label="Cancel"
      icon="pi pi-times"
      styleClass="p-button-text"
      (click)="closePopup()"
    ></p-button>
    <p-button
      label="Save"
      icon="pi pi-check"
      (click)="saveActivity()"
    ></p-button>
  </ng-template>
</p-dialog>

<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
