<p-table
    #dt
    [value]="activities"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="['name', 'status']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} actividades"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10, 20]"
>
    <ng-template #caption>
        <h3 class="p-0 m-0 text-center">Actividades</h3>
        <div class="flex justify-content-between align-items-center">
            <p-button class="flex-1" label="Crear" icon="pi pi-plus" severity="secondary" (onClick)="showPopup()" />
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th pSortableColumn="id" style="min-width: 12rem">
                Identificación
                <p-sortIcon field="id" />
            </th>
            <th pSortableColumn="name" style="min-width: 16rem">
                Nombre
                <p-sortIcon field="name" />
            </th>
            <th pSortableColumn="status" style="min-width: 12rem">
                Estado
                <p-sortIcon field="status" />
            </th>
            <th style="min-width: 12rem"></th>
        </tr>
    </ng-template>
    <ng-template #body let-activity>
        <tr>
            <td>{{ activity.id }}</td>
            <td>{{ activity.name }}</td>
            <td>
                <p-tag [value]="activity.status ? 'Activo' : 'Inactivo'" [severity]="getSeverity(activity.status)" />
            </td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-2" severity="info" rounded outlined (click)="editActivity(activity)" />
                <p-button [icon]="activity.status ? 'pi pi-ban' : 'pi pi-check'" [severity]="activity.status ? 'danger' : 'success'" rounded outlined (click)="changeStatusActivity(activity)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="activityDialog" [style]="{ width: '450px' }" header="Actividad" [modal]="true" class="p-fluid">
    <ng-template #content>
        <div class="container flex flex-col gap-4">
            <div class="flex flex-col">
                <label for="name" class="required">Nombre</label>
                <input pInputText type="text" id="name" [(ngModel)]="activity.name" [minLength]="3" [maxlength]="60" [pattern]="pattern.NAME" required />
                <small *ngIf="!activity.name?.match(pattern.NAME)" class="text-red-500">El nombre solo puede contener letras y espacios.</small>
            </div>
        </div>
    </ng-template>

    <ng-template #footer>
        <div class="flex gap-2 my-2 justify-content-end">
            <p-button label="Cancelar" icon="pi pi-times" severity="danger" styleClass="p-button-text" (click)="closePopup()"></p-button>
            <p-button label="Guardar" icon="pi pi-check" [disabled]="validateActivity()" (click)="saveActivity()"></p-button>
        </div>
    </ng-template>
</p-dialog>

<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
