<full-calendar [options]="calendarOptions()">
    <ng-template #eventContent let-arg>
        <p-splitbutton
            label="{{ arg.event.title }}"
            id="{{ arg.event.id }}"
            [model]="buttons"
            [severity]="arg.event.extendedProps.status ? 'success' : 'danger'"
            (onClick)="onClickProgramming($event, arg.event)"
            (click)="clickPackage(arg.event)"
            [appendTo]="'body'"
            [dropdownIcon]="'pi pi-ellipsis-h'"
            class="text-wrap"
        ></p-splitbutton>
    </ng-template>
</full-calendar>
