<div class="relative">
  <full-calendar
    *ngIf="calendarVisible()"
    [options]="calendarOptions()"
    class="w-full"
  >
    <ng-template #eventContent let-arg>
      <div class="card">
        <div class="font-semibold text-xl mb-4">{{ arg.event.idPackage }}</div>
        <p-menu #menu [popup]="true" [model]="menuItems"></p-menu>
        <p-button
          type="button"
          severity="secondary"
          icon="pi pi-chevron-down"
          label="Paquete X"
          (click)="menu.toggle($event)"
        ></p-button>
      </div>
    </ng-template>
  </full-calendar>
</div>
