<p-table
    #dt
    [value]="categories"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="['name', 'status']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} categorías"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10, 20]"
>
    <ng-template pTemplate="caption">
        <h3 class="p-0 m-0 text-center">Categorías</h3>
        <div class="flex justify-content-between align-items-center">
            <p-button class="flex-1" label="Crear" icon="pi pi-plus" (onClick)="showPopup()" />
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
            </p-iconfield>
        </div>
    </ng-template>

    <ng-template #header>
        <tr>
            <th pSortableColumn="id">
                Identificación
                <p-sortIcon field="id" />
            </th>
            <th pSortableColumn="name">
                Nombre
                <p-sortIcon field="name" />
            </th>
            <th pSortableColumn="status">
                Estado
                <p-sortIcon field="status" />
            </th>
            <th></th>
        </tr>
    </ng-template>

    <ng-template #body let-category>
        <tr>
            <td>{{ category.id }}</td>
            <td>{{ category.name }}</td>
            <td>
                <p-tag [value]="category.status ? 'Activo' : 'Inactivo'" [severity]="getSeverity(category.status)" />
            </td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-2" severity="info" rounded outlined (click)="editCategory(category)" />
                <p-button [icon]="category.status ? 'pi pi-ban' : 'pi pi-check'" [severity]="category.status ? 'danger' : 'success'" rounded outlined (click)="changeStatusCategory(category)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="categoryDialog" [style]="{ width: '450px' }" header="Categoría" [modal]="true" class="p-fluid">
    <ng-template #content>
        <div class="container flex flex-col gap-4">
            <div class="flex flex-col my-2">
                <label for="name" class="required">Nombre</label>
                <input pInputText type="text" id="name" [(ngModel)]="category.name" [minLength]="3" [maxlength]="60" [pattern]="pattern.NAME" required />
                <small *ngIf="!category.name?.match(pattern.NAME)" class="text-red-600">El nombre solo puede contener letras y espacios.</small>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <div class="flex gap-2 my-2 justify-content-end">
            <p-button label="Cancelar" icon="pi pi-times" severity="danger" styleClass="p-button-text" (click)="closePopup()"></p-button>
            <p-button label="Guardar" icon="pi pi-check" [disabled]="validateCategory()" (click)="saveCategory()"></p-button>
        </div>
    </ng-template>
</p-dialog>

<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
