<app-payment-methods />

<div class="container flex flex-col gap-4">
    <div class="flex flex-col">
        <label for="price" class="required">Precio</label>
        <p-inputNumber id="price" [(ngModel)]="payment.total" mode="currency" currency="COP" locale="es-CO" [disabled]="true"></p-inputNumber>
        <small class="p-error" *ngIf="submitted && !payment.total"> El precio es obligatorio. </small>
    </div>

    <div class="flex flex-col">
        <label for="price" class="required">¿Cuanto vas a pagar? ({{ payment.total / 2 }})</label>
        <p-inputNumber id="price" [(ngModel)]="payment.pay" mode="currency" currency="COP" locale="es-CO"></p-inputNumber>
        <small class="p-error" *ngIf="submitted && !payment.pay"> El precio es obligatorio. </small>
    </div>

    <div class="flex flex-col">
        <app-upload-image (uploadImage)="uploadImage($event)" />
    </div>
</div>
