<app-payment-methods />

<div class="container flex flex-col gap-4">
    <div class="flex flex-col">
        <label for="price" class="required">Precio</label>
        <p-inputNumber id="price" [(ngModel)]="payment.total" mode="currency" currency="COP" locale="es-CO" [disabled]="true"></p-inputNumber>
        <small class="p-error" *ngIf="submitted && !payment.total"> El precio es obligatorio. </small>
    </div>

    <div class="field">
        <label for="pay">Valor a pagar (50%)</label><br />
        <input pInputText type="number" id="pay" [(ngModel)]="payment.pay" name="pay" [disabled]="isPayFixed" />
    </div>

    <div class="flex flex-col">
        <app-upload-image (uploadImage)="uploadImage($event)" />
    </div>

    <div class="flex gap-2 my-2 justify-content-end" *ngIf="visible">
        <p-button label="Cancelar" icon="pi pi-times" severity="danger" styleClass="p-button-text" (click)="onCancel()"></p-button>
        <p-button label="Guardar" icon="pi pi-check" (click)="onSave()"></p-button>
    </div>
</div>
