<div class="flex flex-row">
    <div class="flex-1">
        <app-form-clients [reservation]="reservation" [travel]="travel" [travelers]="travelers" [clients]="clients" [client]="traveler" [submitted]="submitted" (searchClient)="onSearchClient($event)" (createClient)="onCreateClient($event)" />
        <p-button label="Agregar viajero" icon="pi pi-user" severity="secondary" [text]="true" (onClick)="onAddTraveler()" />
    </div>
    <p-table [value]="travelers" class="flex-1">
        <ng-template pTemplate="header">
            <tr>
                <th>Documento</th>
                <th>Nombre</th>
                <th>Contacto</th>
                <th style="width: 5rem"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-traveler let-i="rowIndex">
            <tr>
                <td>{{ getInfoUser(traveler.idTraveler).document }}</td>
                <td>{{ getInfoUser(traveler.idTraveler).name + ' ' + getInfoUser(traveler.idTraveler).surName }}</td>
                <td>
                    {{ getInfoUser(traveler.idTraveler).phone }}
                </td>
                <td>
                    <p-button icon="pi pi-trash" severity="danger" rounded outlined [text]="true" (onClick)="onDeleteTraveler(traveler)" />
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
