<div class="reset-password-container">
    <h2 class="text-center mb-3">Recuperar cuenta</h2>
    <p class="text-center mb-4">Introduzca la dirección de correo electrónico que utilizó para registrarse y le enviaremos un enlace para restablecer su contraseña por correo electrónico.</p>
    <form #resetForm="ngForm" (ngSubmit)="onSubmit(resetForm)">
        <div class="form-group mb-4">
            <label for="email" class="mb-2 block">Correo</label>
            <input type="email" id="email" name="email" pInputText [(ngModel)]="user.email" required class="w-full" placeholder="Ingrese su correo" />
        </div>
        <div class="flex justify-content-between">
            <p-button type="button" class="p-button-secondary p-button-rounded" label="Cancelar" (click)="closePopup()"> </p-button>
            <p-button type="submit" class="p-button-primary p-button-rounded" label="Enviar" [disabled]="!resetForm.valid"> </p-button>
        </div>
    </form>
</div>
