<div class="container">
    <app-calendar
        [reservationDialog]="reservationDialog"
        [clientsDialog]="clientsDialog"
        [programmingDialog]="programmingDialog"
        (editProgramming)="editProgramming($event)"
        (changeStatusDate)="changeStatusDate($event)"
        (handleReservation)="handleReservation()"
        (handleClients)="handleClients()"
        (handleProgramming)="handleProgramming()"
    />
</div>

<p-dialog [(visible)]="programmingDialog" [style]="{ width: '600px', height: 'auto', 'max-width': '100dvw', 'max-height': '100dvh' }" header="Programación" [modal]="true" (onHide)="closePopup()">
    <app-form-programming [date]="date" [meeting]="meeting" [packages]="packages" [responsibles]="responsibles" [zones]="zones" [submitted]="submitted" (toSave)="createDate()" (toCancel)="closePopup()" />
</p-dialog>

<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
