<fieldset class="flex flex-row gap-4">
    <div class="flex flex-col flex-1 my-2">
        <label for="package" class="">Paquete</label>
        <p-dropdown id="package" [(ngModel)]="date.idPackage" [options]="packages" [showClear]="true" optionLabel="name" optionValue="id" placeholder="Seleccione un paquete" [appendTo]="'body'" required></p-dropdown>
        <small *ngIf="!date.idPackage.toString().match(pattern.ID)" class="text-red-600">El paquete es obligatorio.</small>
    </div>
    <div class="flex flex-col flex-1 my-2">
        <label for="amount" class="">Cantidad</label>
        <input pInputText type="number" id="amount" [(ngModel)]="date.amount" placeholder="Cantidad de viajeros" [min]="1" [max]="80" required />
        <small *ngIf="!date.amount.toString().match(pattern.AMOUNT)" class="text-red-600">La cantidad es entre 1 y 80</small>
    </div>
</fieldset>

<fieldset class="flex flex-row gap-4">
    <div class="flex flex-col flex-1 my-2">
        <label for="start" class="">Fecha inicio</label>
        <p-datepicker [(ngModel)]="date.start" [showIcon]="true" inputId="start" dateFormat="yy-mm-dd" [dataType]="'date'" [appendTo]="'body'" [minDate]="today" required></p-datepicker>
        <small *ngIf="!date.start" class="text-red-600">La fecha de inicio es obligatoria.</small>
    </div>
    <div class="flex flex-col flex-1 my-2">
        <label for="end" class="">Fecha fin</label>
        <p-datepicker [(ngModel)]="date.end" [showIcon]="true" inputId="end" dateFormat="yy-mm-dd" [dataType]="'date'" [appendTo]="'body'" [minDate]="today" required></p-datepicker>
        <small *ngIf="!date.end" class="text-red-600">La fecha de fin es obligatoria.</small>
    </div>
</fieldset>

<fieldset class="flex flex-row gap-4">
    <div class="flex flex-col flex-1 my-2">
        <label for="startRegistration" class="">Inicio registro</label>
        <p-datepicker [(ngModel)]="date.startRegistration" [showIcon]="true" inputId="startRegistration" dateFormat="yy-mm-dd" [dataType]="'date'" [appendTo]="'body'" [minDate]="today" required></p-datepicker>
        <small *ngIf="!date.startRegistration" class="text-red-600">La fecha de inicio de registro es obligatoria. </small>
    </div>
    <div class="flex flex-col flex-1 my-2">
        <label for="endRegistration" class="">Fin registro</label>
        <p-datepicker [(ngModel)]="date.endRegistration" [showIcon]="true" inputId="endRegistration" dateFormat="yy-mm-dd" [dataType]="'date'" [appendTo]="'body'" [minDate]="today" required></p-datepicker>
        <small *ngIf="!date.endRegistration" class="text-red-600">La fecha de fin de registro es obligatoria. </small>
    </div>
</fieldset>

<fieldset class="flex flex-col">
    <div class="flex gap-2">
        <div class="flex flex-col flex-1 my-2">
            <label for="meetingZone" class="">Zona</label>
            <p-dropdown id="meetingZone" [(ngModel)]="meeting.zone" [options]="zones" [showClear]="true" optionLabel="name" optionValue="value" placeholder="Seleccione una zona" [appendTo]="'body'" required></p-dropdown>
            <small *ngIf="!meeting.zone.match(pattern.ZONE)" class="text-red-600">La zona de encuentro es obligatoria. </small>
        </div>
        <div class="flex flex-col flex-1 my-2">
            <label for="hour" class="">Hora</label>
            <p-datepicker [(ngModel)]="meeting.hour" [showIcon]="true" [showClear]="true" inputId="hour" [timeOnly]="true" hourFormat="24" placeholder="Seleccione una hora" [appendTo]="'body'" required></p-datepicker>
            <small *ngIf="!meeting.hour.match(pattern.HOUR)" class="text-red-600">La hora es obligatoria. </small>
        </div>
    </div>
    <div class="flex flex-col my-2">
        <label for="description" class="required">Descripción</label>
        <textarea id="description" [(ngModel)]="meeting.description" pTextarea placeholder="Descripción" [autoResize]="true" rows="3" cols="30" required></textarea>
        <small *ngIf="!meeting.description" class="text-red-600">La descripción es obligatoria.</small>
    </div>
</fieldset>

<fieldset>
    <div class="flex flex-col my-2">
        <label for="responsibleList">Responsables</label>
        <p-multiselect
            id="responsibleList"
            [options]="responsibles"
            placeholder="Seleccione responsables"
            optionLabel="fullName"
            optionValue="id"
            display="chip"
            [filter]="true"
            [filterBy]="'fullName'"
            appendTo="body"
            (onChange)="onChangeResponsible($event)"
        >
            <ng-template #selectedItems let-selected>
                <div *ngFor="let responsible of selected" class="inline-flex items-center px-2 py-1 mr-2 rounded bg-primary text-primary-contrast outlined -border">
                    <div>{{ responsible.fullName }}</div>
                </div>
            </ng-template>
            <ng-template #item let-responsible>
                <div class="flex items-center">
                    <div>{{ responsible.fullName }}</div>
                </div>
            </ng-template>
        </p-multiselect>
        <small *ngIf="!meeting.responsibles || meeting.responsibles.length === 0" class="text-red-600">Elija un responsable.</small>
    </div>
</fieldset>
<div class="flex gap-2 my-2 justify-content-end">
    <p-button label="Cancelar" icon="pi pi-times" severity="danger" styleClass="p-button-text" (onClick)="onClosePopup()"></p-button>
    <p-button label="Guardar" icon="pi pi-check" [disabled]="validateProgramming()" (onClick)="onCreateDate(date)"></p-button>
</div>
