<p-table
    #dt
    [value]="services"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="['name', 'price', 'status']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} servicios"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10, 20]"
>
    <ng-template pTemplate="caption">
        <h3 class="p-0 m-0 text-center">Servicios</h3>
        <div class="flex justify-content-between align-items-center">
            <p-button class="flex-1" label="Crear" icon="pi pi-plus" severity="secondary" (onClick)="showPopup()" />
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
            </p-iconfield>
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="id" style="min-width: 12rem">
                Identificación
                <p-sortIcon field="id" />
            </th>
            <th pSortableColumn="name" style="min-width: 16rem">
                Nombre
                <p-sortIcon field="name" />
            </th>
            <th pSortableColumn="price" style="min-width: 12rem">
                Precio
                <p-sortIcon field="price" />
            </th>
            <th pSortableColumn="status" style="min-width: 12rem">
                Estado
                <p-sortIcon field="status" />
            </th>
            <th style="min-width: 12rem"></th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-service>
        <tr>
            <td>{{ service.id }}</td>
            <td>{{ service.name }}</td>
            <td>{{ service.price | currency: 'COP' }}</td>
            <td>
                <p-tag [value]="service.status ? 'Activo' : 'Inactivo'" [severity]="getSeverity(service.status)" />
            </td>
            <td>
                <p-button icon="pi pi-pencil" [rounded]="true" [outlined]="true" (click)="editService(service)" />
                <p-button icon="pi pi-sync" severity="info" [rounded]="true" [outlined]="true" (click)="changeStatusService(service)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="serviceDialog" [style]="{ width: '450px' }" header="Servicio" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <div class="flex flex-col">
            <label for="category" class="required">Categoría</label>
            <p-dropdown id="category" [(ngModel)]="service.idCategoryServices" [options]="categories" [showClear]="true" optionLabel="name" optionValue="id" placeholder="Seleccione una categoría" [appendTo]="'body'" required></p-dropdown>
            <small *ngIf="!service.idCategoryServices.toString().match(pattern.ID)" class="text-red-500">La categoria es obligatoria</small>
        </div>

        <div class="flex flex-col">
            <label for="name" class="required">Nombre</label>
            <input pInputText type="text" id="name" [(ngModel)]="service.name" [minLength]="3" [maxlength]="60" [pattern]="pattern.NAME" required />
            <small *ngIf="!service.name?.match(pattern.NAME)" class="text-red-500">El nombre solo puede contener letras y espacios.</small>
        </div>

        <div class="flex flex-col">
            <label for="price" class="required">Precio</label>
            <p-inputNumber id="price" [(ngModel)]="service.price" mode="currency" currency="COP" locale="es-CO" [min]="1" [max]="9999999999999" required></p-inputNumber>
            <small *ngIf="!service.price" class="text-red-500">El precio debe ser correcto.</small>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <div class="flex gap-2 my-2 justify-content-end">
            <p-button label="Cancelar" icon="pi pi-times" severity="danger" (click)="closePopup()" [text]="true"></p-button>
            <p-button label="Guardar" icon="pi pi-check" [disabled]="validateService()" (click)="saveService()"></p-button>
        </div>
    </ng-template>
</p-dialog>

<p-toast />
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
