<p-table
    #dt
    [value]="reservations"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="['id', 'date', 'price', 'status']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} reservas"
    [rowsPerPageOptions]="[5, 10, 20]"
    [expandedRowKeys]="expandedRows"
    (onRowExpand)="onRowExpand($event)"
>
    <ng-template pTemplate="caption">
        <h3 class="p-0 m-0 text-center">Pagos de Reservas</h3>
        <div class="flex justify-content-between align-items-center">
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search"></p-inputicon>
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..." />
            </p-iconfield>
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem"></th>
            <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="date">Fecha <p-sortIcon field="date"></p-sortIcon></th>
            <th pSortableColumn="price">Precio Total <p-sortIcon field="price"></p-sortIcon></th>
            <th pSortableColumn="status">Estado <p-sortIcon field="status"></p-sortIcon></th>
            <th>Cliente</th>
            <th>Pagos Realizados</th>
            <th>Acciones</th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-reservation let-expanded="expanded">
        <tr>
            <td>
                <p-button type="button" pRipple [pRowToggler]="reservation" [text]="true" rounded outlined [plain]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></p-button>
            </td>
            <td>{{ reservation.id }}</td>
            <td>{{ reservation.date | date: 'shortDate' }}</td>
            <td>{{ reservation.price | currency: 'COP' }}</td>
            <td>
                <p-tag [value]="getValueReservation(reservation.status)" [severity]="getSeverityReservation(reservation.status)"></p-tag>
            </td>
            <td>{{ reservation.idUser }}</td>
            <td>
                {{ reservation.totalPay || 0 | currency: 'COP' : 'symbol' }}
            </td>
            <td>
                <p-button [disabled]="reservation.isFullyPaid" icon="pi pi-plus" class="mr-2" rounded outlined (click)="showPopup(reservation.id)" />
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="expandedrow" let-reservation>
        <tr>
            <td colspan="12">
                <div class="p-3">
                    <h5>Detalle de Pagos - Reservación #{{ reservation.id }}</h5>

                    <p-table [value]="getPaymentsByReservation(reservation.id)" styleClass="p-datatable-sm">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>ID Pago</th>
                                <th>Fecha</th>
                                <th>Monto</th>
                                <th>Voucher</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-payment>
                            <tr>
                                <td>{{ payment.id }}</td>
                                <td>{{ payment.date | date: 'short' }}</td>
                                <td>{{ payment.pay | currency: 'COP' }}</td>
                                <td>{{ payment.voucher || 'N/A' }}</td>
                                <td>
                                    <p-dropdown [options]="statuses" [(ngModel)]="payment.status" optionLabel="name" optionValue="value" (onChange)="changeStatusPayment(payment)" styleClass="p-dropdown-sm" [appendTo]="'body'" [disabled]="disabled">
                                        <ng-template pTemplate="selectedItem">
                                            <p-tag [value]="getValuePayment(payment.status)" [severity]="getServerityPayment(payment.status)"></p-tag>
                                        </ng-template>
                                        <ng-template let-status pTemplate="item">
                                            <p-tag [value]="getValuePayment(status.value)" [severity]="getServerityPayment(status.value)"></p-tag>
                                        </ng-template>
                                    </p-dropdown>
                                </td>
                                <td>
                                    <p-button icon="pi pi-eye" severity="secondary" rounded outlined (click)="showImage(payment)" />
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="6" class="text-center">No hay pagos registrados para esta reservación</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="dialogVisible" [style]="{ width: '500px', height: '500px' }" [header]="dialogType === 'payment'?'Pago':'Comprobante'" [modal]="true">
    <ng-container *ngIf="dialogType === 'image'">
        <img [src]="'http://localhost:3000' + payment.voucher" [alt]="payment.id" width="300" class="mx-auto shadow-lg" />
    </ng-container>
    <ng-container *ngIf="dialogType === 'payment'">
        <app-form-payments [payment]="payment" (cancel)="closePopup()" (save)="savePayment($event)" />
    </ng-container>
</p-dialog>

<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
