@use './tailwind.css';
@use './assets/layout/layout.scss';
@use 'primeicons/primeicons.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    scrollbar-width: thin;
}

.required::after {
    content: ' *';
    color: red;
}
