<div class="grid grid-cols-4 gap-8">
  <!-- Gráfico de ingresos diarios -->
  <div class="col-span-4">
    <div class="card mb-0">
      <div class="font-semibold text-xl mb-4">Ingresos Diarios</div>
      <p-chart type="line" [data]="dailyRevenueData" [options]="dailyRevenueOptions"></p-chart>
    </div>
  </div>

  <!-- Tabla de clientes que más compran -->
  <div class="col-span-2 w-auto">
    <div class="card !mb-8">
      <div class="font-semibold text-xl mb-4">Clientes que Más Compran</div>
      <p-table
        [value]="topClients"
        [paginator]="true"
        [rows]="5"
        responsiveLayout="scroll"
      >
        <ng-template #header>
          <tr>
            <th>Nombre</th>
            <th>Compras</th>
          </tr>
        </ng-template>
        <ng-template #body let-client>
          <tr>
            <td>{{ client.name }} {{ client.surname }}</td>
            <td>{{ client.purchases }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <!-- Gráfico de paquetes más vendidos -->
  <div class="col-span-2 w-auto">
    <div class="card !mb-8">
      <div class="font-semibold text-xl mb-4">Paquetes Más Vendidos</div>
      <p-chart type="bar" [data]="topSellingPackagesData" [options]="topSellingPackagesOptions"></p-chart>
    </div>
  </div>
</div>
